<section class="contact-create-view">
    <div>
        <div v-show="false">
            <button id="openModel" data-toggle="modal" data-target="#createContactModal"></button>
        </div>
        <div class="modal fade" id="createContactModal" tabindex="-1" role="dialog" aria-labelledby="createContactModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createContactModalLabel">
                            <b>
                <u>
                  <h3>{{title}}</h3>
                </u>
              </b>
                        </h5>
                        <button type="button" id="close-model" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <CreateContact :viewData="contact" @update="contactUpdate" @create="contactCreate" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>